@model ExerciseRoutine.Models.Routine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Routine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <h5>Exercises in @Model.Name</h5>
    @if (Model.Exercises != null && Model.Exercises.Any())
    {
        <ul>
            @foreach (var exercise in Model.Exercises)
            {
                <li>@exercise.Name</li>
            }
        </ul>
    }
    else
    {
        <p><em>No exercises assigned to this routine.</em></p>
    }
</div>
<h5>@Model.Name logs</h5>
    @if (Model.RoutineLogs != null && Model.RoutineLogs.Any())
    {
        <ul>
            @foreach (var log in Model.RoutineLogs)
            {
                <li>@log.DateLogged</li>
                <a asp-controller="RoutineLog" asp-action="Details" asp-route-id="@log.Id">View workout log</a>
            }
        </ul>
    }
    else
    {
        <p><em>Nothing logged</em></p>
    }
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
